body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("currency.bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Arial, sans-serif;
}

.container {
  width: 340px;
  padding: 25px 30px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);

  color: #fff;
  text-align: center;
}

input, select {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;

  background: rgba(255,255,255,0.2);
  color: #fff;
}

input::placeholder {
  color: #ddd;
}

select option {
  color: #000;
}

button {
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: translateY(0.2s);
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

.result {
  margin-top: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
